@use "/css/layout";

:root {
  --gray: #222831;
  --gray2: #393e46;
  --textColor: #fff;
  --purple: #27005d;
  --lightPurple: #9400ff;
  --blue: #aed2ff;
  --lightBlue: #e4f1ff;
}

body {
  background: var(--purple);
}

.page {
  padding-top: 85px;
  @extend %grid;
}

p,
a {
  color: var(--textColor);
  font-size: 18px;
}

h1,
h2,
h3 {
  color: var(--textColor);
}
